<html>
  <head>
    <title>TigerMart</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="tigerMart">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>TigerMart</h1>
      </div>

      <div ng-repeat="product in products | orderBy: 'price'">
        <span style="font-size: 20px; margin-left: 10px;">
          {{product.title}}: {{product.description}} - ${{product.price}}
        </span>
      </div>

      <form ng-submit="addProduct()" style="margin-top: 30px;">
        <h3>Add a new product</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Description" ng-model="description"></input>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Price" ng-model="price"></input>
        </div>
        <button type="submit">Post product</button>
      </form>
    </script>

  </body>
</html>