<html>
  <head>
    <title>TigerMart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="/javascripts/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/javascripts/ng-file-upload.min.js"></script>
    <script src="/javascripts/ng-img-crop.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ng-img-crop.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <body ng-app="tigerMart">
    <div class="row">
      <div>
        <ui-view></ui-view>
      </div>
    </div>

    <!-- ________________ HOME PAGE (SEARCH FOR PRODUCTS) ____________________ -->
    <script type="text/ng-template" id="/home.html">
    <div>
      <a class="btn btn-success col-md-offset-10" href="#/users/{{user._id}}">User Profile</a>
    </div>

    <div style="margin-top: 20px">
        <a class="btn btn-primary col-md-offset-10" href="#/addproduct">Add Product</a>
    </div>
    <!--<nav>
      <ul>
        <li><strong>Home</strong></li>
        <li><a href="about.html">Add New Product</a></li>
      </ul>
    </nav>-->
      <div>
        <div class="text-center">
          <h1>TigerMart</h1>
        </div>
        <div class="text-center">
          <h4>Hello {{user.firstName}}</h4>
        </div>
        <div class="text-left col-md-6 col-md-offset-3">
          <h5>Filter by category</h5>
        </div>
        <form ng-submit="filterCat()">
          <div class="col-md-6 col-md-offset-3">
           <select name="cat" class="form-control" ng-model="cat" placeholder="Category">
              <option value="" selected="selected" disabled>Choose Category...</option>
              <option value="All">All categories</option>
              <option value="Apparel">Apparel</option>
              <option value="Dorm Items">Dorm Items</option>
              <option value="Electronics">Electronics</option>
              <option value="Food & Drinks">Food & Drinks</option>
              <option value="Furniture">Furniture</option>
              <option value="Textbooks">Textbooks</option>
              <option value="Tickets">Tickets</option>
              <option value="Transportation">Transportation</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary"type="submit">Update</button>
          </div>
        </form>
        <div class="text-left col-md-6 col-md-offset-3">
          <h5>Search</h5>
        </div>
        <form ng-submit="search()"> 
          <div class="form-group col-md-6 col-md-offset-3">
            <input type="text" class="form-control" placeholder="Search..." ng-model="q"></input>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
        <div class="text-left col-md-6 col-md-offset-3">
          <h5>Sort the products</h5>
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
           <select name="sorting" class="form-control" ng-model="sorting" placeholder="Sorting order">
              <option value="" selected="selected" disabled>Choose sorting order</option>
              <option value=price>Price: low to high</option>
              <option value=-price>Price: high to low</option>
              <option value=-date>Date: new to old</option>
              <option value=date>Date: old to new</option>
            </select>
        </div>

      </div>

      <div class="container col-md-12" style="margin-top: 50px"> <!-- Code modified from: http://bootsnipp.com/snippets/49An-->

        <!-- <div class="well well-sm">
          <strong>View Type: </strong>
          <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> 
            <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th">
            </span>Grid</a>
          </div>
        </div> -->

        <div id="products-view" class="row list-group">
          <div ng-repeat="product in products | orderBy:sorting">
            <div class="item  col-md-4">
              <div class="thumbnail">
                <img class="group list-group-image" ng-src="data:image/png;base64,{{product.pictures}}" alt="" />
                <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                    {{product.title}}</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="lead">
                        ${{product.price}}
                      </p>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success" href="#/products/{{product._id}}">View Details</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>

    </script>

    <!-- ________________ ADD PRODUCT PAGE ____________________ -->
    <script type="text/ng-template" id="/addproduct.html">
      <form style="margin-top: 30px;" class="col-md-6 col-md-offset-3">
        <h3>Add a new product</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
        </div>

         <div class="form-group">
           <select name="category" class="form-control" ng-model="category" placeholder="Category">
              <option value="" selected="selected" disabled>Choose Category...</option>
              <option value="Apparel">Apparel</option>
              <option value="Dorm Items">Dorm Items</option>
              <option value="Electronics">Electronics</option>
              <option value="Food & Drinks">Food & Drinks</option>
              <option value="Furniture">Furniture</option>
              <option value="Textbooks">Textbooks</option>
              <option value="Tickets">Tickets</option>
              <option value="Transportation">Transportation</option>
              <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
          <textarea name="description" rows="5" cols="30" class="form-control" placeholder="Description" ng-model="description"></textarea>
        </div>

        <div class="form-group">
          <input type="number" min="0" class="form-control" placeholder="Price" ng-model="price"></input>
        </div>

        <div class="center-block">
          <button ngf-select class="btn btn-default center-block" ng-model="picFile1" accept="image/*">Select Picture</button>
          <center>
          <div ngf-drop ng-model="picFile1" ngf-pattern="image/*" class="cropArea center-block" style="margin-top: 20px">
              <img-crop 
                image="picFile1  | ngfDataUrl"                 
                result-image="croppedDataUrl1" 
                ng-init="croppedDataUrl1=''" 
                result-image-size="300" 
                area-type="square">
              </img-crop>
          </div>
          <div ng-show="picFile1">
              <h5>Preview:</h5>
              <img ng-src="{{croppedDataUrl1}}" />
            </div>
          </center>
        </div>

        <!-- <div class="form-group">
          <h5>Upload picture(s)</h5>
          <input type="file" class="form-control" ng-model="pictures" name="pic" accept="image/*"></input>
        </div>

        <div class="form-group">
          <input type="file" class="form-control" data-ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
          <span data-ng-if="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
          <img data-ng-src="uploadedImage" data-ng-if="uploadedImage">
        </div> -->

         <div class="form-group">
          <input type="text" class="form-control" style="margin-top: 20px" placeholder="Add Tags" ng-model="tags"></input>
        </div>

        <div class="center-block">
          <button ng-click="addProduct(croppedDataUrl1)" onclick="location.href='#/home'" class="text-center btn btn-primary center-block">Post product</button>
        </div>
      </form>
    </script>

    <!-- ________________ PRODUCT PAGE ____________________ -->
    <script type="text/ng-template" id="/products.html">
      <div>
        <a class="btn btn-success col-md-offset-10" href="#/home">Back to Home</a>
      </div>
      <div class="page-header col-md-offset-1">
        <h3>{{product.title}}</h3>
      </div>
      <div id="products-view" class="row list-group">
        <div>
          <div class="thumbnail col-md-4 col-md-offset-1" style="margin-top: 10px">
            <img class="group list-group-image" ng-src="data:image/png;base64,{{product.pictures}}" alt="" />
          </div>
          <div class="thumbnail col-md-4 col-md-offset-1" style="margin-top: 10px">
            <h4 class="group inner list-group-item-heading">
              {{product.title}} - ${{product.price}}
            </h4>
            <p style="font-size: 16px">
              {{product.description}}
            </p>
            <p style="font-size: 16px">
              Category: {{product.category}}
            </p>
            <p style="font-size: 16px">
              Tags: {{product.tags}}
            </p>
            <p style="font-size: 16px">
              Posted by: {{product.userid.firstName}} {{product.userid.lastName}}
            </p>
            <p style="font-size: 16px">
              Posted on: {{product.month}}/{{product.day}}/{{product.year}}
            </p>
            <br>
<a class="btn btn-success col-md-offset-7" href="mailto: {{product.userid.email}}?subject=Hey! I am interested in your {{product.title}} on TigerMart&body=Hey {{product.userid.firstName}}! %0A%0AI saw your {{product.title}} on TigerMart and I am interested in buying it. Let me know if it is still available. %0A%0AThanks! %0A%0A{{user.firstName}}">Contact {{product.userid.firstName}}</a>
            <br>
            <br>
          </div>
        </div>
      </div>
    </script>


    <!-- ________________ USER PAGE ____________________ -->
    <script type="text/ng-template" id="/user.html">
      <div>
        <a class="btn btn-success col-md-offset-10" href="#/home">Back to Home</a>
      </div>
      <div>
        <a class="btn btn-success col-md-offset-10" style="margin-top: 10px" href="#/users/{{user._id}}">Edit My Profile</a>
      </div>
      <div class="text-center">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
      </div>

      <div class="container col-md-12" style="margin-top: 20px"> <!-- Code modified from: http://bootsnipp.com/snippets/49An-->

        <div class="well well-sm">
          <strong>View My Items: </strong>
          <div class="btn-group" style="margin-left: 10px">
            <a href="#" id="active_posts" class="btn btn-default btn-md">Active Items</a>
            <a href="#" id="active_posts" class="btn btn-default btn-md">Sold Items</a>
          </div>
          <!-- <form ng-submit="filterCat()">
            <div class="col-md-6 col-md-offset-3">
             <select name="cat" class="form-control" ng-model="cat" placeholder="Category">
                <option value="" selected="selected" disabled>Choose Category...</option>
                <option value="All">All categories</option>
                <option value="Apparel">Apparel</option>
                <option value="Dorm Items">Dorm Items</option>
                <option value="Electronics">Electronics</option>
                <option value="Food & Drinks">Food & Drinks</option>
                <option value="Furniture">Furniture</option>
                <option value="Textbooks">Textbooks</option>
                <option value="Tickets">Tickets</option>
                <option value="Transportation">Transportation</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary"type="submit">Update</button>
            </div>
          </form> --> 
          <!--<ng-submit="search()"> 
            <div class="form-group col-sm-3 col-sm-offset-7">
              <input type="text" class="form-control" placeholder="Search..." ng-model="q"></input>
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </form> -->
          <!--
          <strong>Sort by:</strong>
          <div class="form-group col-sm-3" style="margin-left: 20px">
             <select name="sorting" class="form-control" ng-model="sorting" placeholder="Sorting order">
                <option value=price>Price: low to high</option>
                <option value=-price>Price: high to low</option>
                <option value=-date selected="selected">Date: new to old</option>
                <option value=date>Date: old to new</option>
              </select>
          </div> -->
        </div>

        <!--<div class="item  col-md-4">
          <div class="thumbnail">
            <img class="group list-group-image" ng-src="data:image/png;base64,{{product.pictures}}" alt="" />
            <div class="caption">
              <h4 class="group inner list-group-item-heading">
                {{product.title}}</h4>
              <div class="row">
                <div class="col-md-6">
                  <p class="lead">
                    ${{product.price}}
                  </p>
                </div>
                <div class="col-md-6" style="margin-top: 5px">
                    <a class="btn btn-success" href="#/products/{{product._id}}">View Details</a>
                </div>
                <div class="col-md-6" style="margin-top: 5px">
                    <a class="btn btn-success" href="#/products/{{product._id}}">Mark as Sold</a>
                </div>
                <div class="col-md-6" style="margin-top: 5px">
                    <a class="btn btn-success" href="#/products/{{product._id}}">Edit Post</a>
                </div>
                <div class="col-md-6" style="margin-top: 5px">
                    <a class="btn btn-success" href="#/products/{{product._id}}">Delete Item</a>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <div id="products-view" class="row list-group">
          <div ng-repeat="product in user.posted | orderBy:price">
            <div class="item  col-md-4">
              <div class="thumbnail">
                <img class="group list-group-image" ng-src="data:image/png;base64,{{product.pictures}}" alt="" />
                <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                    {{product.title}}</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="lead">
                        ${{product.price}}
                      </p>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px">
                      <a class="btn btn-success" href="#/products/{{product._id}}">View Details</a>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px">
                      <a class="btn btn-success" href="#/products/{{product._id}}">Mark as Sold</a>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px">
                      <a class="btn btn-success" href="#/products/{{product._id}}">Edit Post</a>
                    </div>
                    <div class="col-md-6" style="margin-top: 5px">
                      <a class="btn btn-success" href="#/products/{{product._id}}">Delete Item</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
    </script>


    <!-- ________________ WELCOME PAGE ____________________ -->
    <script type="text/ng-template" id="/welcome.html">
      <div class="text-center">
        <h2>Welcome to TigerMart</h2>
      </div>
      <div class="panel panel-default col-md-3 col-md-offset-2" style="margin-top: 30px">
        <h3 class="text-center">Are you a new user?</h3>
        <h4 class="text-center" style="margin-top: 20px">Register now to start using TigerMart</h4>
        <button class="btn btn-success center-block" style="margin-top: 20px; margin-bottom: 20px" onclick="location.href='#/register'">Register</button>
      </div>
      <div class="panel panel-default form-group col-md-3 col-md-offset-2" style="margin-top: 30px">
        <h3 class="text-center">Are you a returning user?</h3>
        <h4 class="text-center">Enter your NetID</h4>
        <form ng-submit= "getUser()">
          <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="NetID"
            ng-model="user.net_id"></input>
          </div>
          <button type="submit" class="btn btn-primary center-block">Log In</button>
        </form>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header col-md-6 col-md-offset-3 text-center">
        <h1>TigerMart</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()" class="col-md-4 col-md-offset-4">
        <h3 class="text-center" style="margin-bottom:20px;">Register by filling out the following form</h3>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="NetID"
          ng-model="user.net_id"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Email"
          ng-model="user.email"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="First Name"
          ng-model="user.firstName"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Last Name"
          ng-model="user.lastName"></input>
        </div>
        <button type="submit" class="btn btn-primary center-block">Register</button>
      </form>
    </script>


  </body>
</html>
