<html>
  <head>
    <title>TigerMart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="/javascripts/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/javascripts/ng-file-upload.min.js"></script>
    <script src="/javascripts/ng-img-crop.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ng-img-crop.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <body ng-app="tigerMart">
    <div class="row">
      <div>
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/home.html">
    <nav>
      <ul>
        <li><strong>Home</strong></li>
        <li><a href="about.html">Add New Product</a></li>
      </ul>
    </nav>
      <div class="page-header col-md-6 col-md-offset-3">
        <h1>TigerMart</h1>
        <h5>Filter by category</h5>
        <form ng-submit="filterCat()">
          <div class="form-group">
           <select name="cat" class="form-control" ng-model="cat" placeholder="Category">
              <option value"" selected="selected" disabled>Choose Category...</option>
              <option value="all">All categories</option>
              <option value="apparel">Apparel</option>
              <option value="dorm_items">Dorm Items</option>
              <option value="electronics">Electronics</option>
              <option value="food_drinks">Food & Drinks</option>
              <option value="furniture">Furniture</option>
              <option value="textbooks">Textbooks</option>
              <option value="tickets">Tickets</option>
              <option value="transportation">Transportation</option>
              <option value="other">Other</option>
            </select>
          </div>
          <button type="submit">Update</button>
        </form>
        <h5>Search</h5>
        <form ng-submit="search()"> 
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search..." ng-model="q"></input>
          </div>
          <button type="submit">Search</button>
        </form>
        <h5>Sort the products</h5>
        <div class="form-group">
           <select name="sorting" class="form-control" ng-model="sorting" placeholder="Sorting order">
              <option value="" selected="selected" disabled>Choose sorting order</option>
              <option value=price>Price: low to high</option>
              <option value=-price>Price: high to low</option>
              <option value=-date>Date: new to old</option>
              <option value=date>Date: old to new</option>
            </select>
        </div>

      </div>

      <div class="container"> <!-- Code modified from: http://bootsnipp.com/snippets/49An-->

        <!-- <div class="well well-sm">
          <strong>View Type: </strong>
          <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> 
            <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th">
            </span>Grid</a>
          </div>
        </div> -->

        <div id="products-view" class="row list-group">
          <div ng-repeat="product in products | orderBy:sorting">
            <div class="item  col-md-4">
              <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                    {{product.title}}</h4>
                  <p class="group inner list-group-item-text">
                    {{product.description}}</p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="lead">
                        ${{product.price}}
                      </p>
                    </div>
                    <div class="col-md-6">
                      <!-- <form ng-submit="getProduct(product._id)">
                        <button type="submit">View Details</button> -->
                        <a class="btn btn-success" href="#/products/{{product._id}}">View Details</a>
                      <!-- </form> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>

      </div>

      <!-- <div ng-repeat="product in products | orderBy: 'price'">
        <span style="font-size: 20px; margin-left: 10px;">
          {{product.title}} ({{product.category}}) - ${{product.price}}, {{product.pictures}}, {{product.tags}}, {{product.date}}, {{product.net_id}}, {{product.active}}
        </span>
      </div> -->

      <form ng-submit="addProduct()" style="margin-top: 30px;" class="col-md-6 col-md-offset-3">
        <h3>Add a new product</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
        </div>

         <div class="form-group">
           <select name="category" class="form-control" ng-model="category" placeholder="Category">
              <option value="" selected="selected" disabled>Choose Category...</option>
              <option value="apparel">Apparel</option>
              <option value="dorm_items">Dorm Items</option>
              <option value="electronics">Electronics</option>
              <option value="food_drinks">Food & Drinks</option>
              <option value="furniture">Furniture</option>
              <option value="textbooks">Textbooks</option>
              <option value="tickets">Tickets</option>
              <option value="transportation">Transportation</option>
              <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
          <textarea name="description" rows="5" cols="30" class="form-control" placeholder="Description" ng-model="description"></textarea>
        </div>

        <div class="form-group">
          <input type="number" min="0" class="form-control" placeholder="Price" ng-model="price"></input>
        </div>

        <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture</button>
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop 
              image="picFile  | ngfDataUrl"                 
              result-image="croppedDataUrl" 
              ng-init="croppedDataUrl=''" 
              result-image-size="300" 
              area-type="square">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{croppedDataUrl}}" />
        </div>

        <!-- <div class="form-group">
          <h5>Upload picture(s)</h5>
          <input type="file" class="form-control" ng-model="pictures" name="pic" accept="image/*"></input>
        </div>

        <div class="form-group">
          <input type="file" class="form-control" data-ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
          <span data-ng-if="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
          <img data-ng-src="uploadedImage" data-ng-if="uploadedImage">
        </div> -->

         <div class="form-group">
          <input type="text" class="form-control" placeholder="Add Tags" ng-model="tags"></input>
        </div>


        <button type="submit">Post product</button>
      </form>
    </script>


    <script type="text/ng-template" id="/products.html">
      <div class="page-header col-md-offset-1">
        <h3>{{product.title}}</h3>
      </div>

      <div id="products-view" class="row list-group">
            <div>
              <div class="thumbnail col-md-4 col-md-offset-1" style="margin-top: 10px">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
              </div>
              <div class="thumbnail col-md-4 col-md-offset-1" style="margin-top: 10px">
                <h4 class="group inner list-group-item-heading">
                  {{product.title}} - ${{product.price}}
                </h4>
                <p style="font-size: 16px">
                    {{product.description}}
                </p>
                <p style="font-size: 16px">
                    Category: {{product.category}}
                </p>
                <p style="font-size: 16px">
                    Tags: {{product.tags}}
                </p>
                <p style="font-size: 16px">
                    Posted by: {{product.net_id}}@princeton.edu
                </p>
                <p style="font-size: 16px">
                    Posted on: {{product.month}}/{{product.day}}/{{product.year}}
                </p>
                <br>
                <a class="btn btn-success col-md-offset-7" href="">Contact seller</a>
                <br>
                <br>
              </div>
            </div>
        </div>

    </script>

  </body>
</html>
